body {
    font-family: Arial;
    background: #eef2f7;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.seat-grid {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.seat {
    padding: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.available {
    background: green;
}

.booked {
    background: red;
    cursor: not-allowed;
}

form {
    margin-top: 30px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
}